<div class="container">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2"></div>
        <div class="col-lg-8 col-md-8 col-sm-8">
            <br>
            <button class="btn btn-primary" type="button" (click)="onAddUser()">New User</button>
            <h2>User Details List</h2>
                <table>
                   <thead>
                    <tr>
                        <th> Index </th>
                        <th> Name </th>
                    </tr>
                   </thead>
                   <tbody>
                    <tr *ngFor="let user of userDetails;let i=index;">
                        <td routerLinkActive="active-link"> <a [routerLink]="user.uid" class="style-link">{{i+1}}</a> </td>
                        <td routerLinkActive="active-link"> <a [routerLink]="user.uid" class="style-link">{{user.name}}</a></td>    
                    </tr>   
                   </tbody>
                </table> 
                <br>
                <router-outlet></router-outlet>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2"></div>
    </div>
</div>

