.style-link{
    text-decoration: none;
    color: black;
}

table{
    width: 100%;
    font-size: 1.2em;
}

td a{
    display: block;
}

th{
    background-color: lightgray;
}
tr,td,th{
    border: 2px solid black;
    padding: 2px;
}

tr:hover{
    background-color: lightgrey;
}

.active-link{
    background-color: lightgrey;
}

.bttn{
    font-size: 0.9em;
}

.btn-div{
    margin: 5px 5px 5px 0px;
}

.btn-add{
    background-color:black;
}

@media (max-width: 768px){
    .btn-div{
        display: flex;
    }   
}


